/* src/styles/ProductList.css */
.product-list {
    padding: 50px 20px;
    background-color: #f7f7f7;
  }
  
  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .product-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-card p {
    font-size: 1rem;
    color: #666;
  }
  
  .product-card p:last-child {
    font-weight: bold;
    color: #264653;
  }

  /* Responsive */
@media (max-width: 1024px) {
  .product-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}