/* src/App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fafafa;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    /* width: 100%; */
  }
}
